* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    width: 50%;
    height: 100%;
    padding: 10px;
}

.section-title {
    color: #2ddf5c;
}

/* Combinator */
/* The More specific rule has a higher specificty,
so it wins for the tags under that id */
#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: 'sans-serif';
} */

.main-header {
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f41;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f41;
}

/* .main-nav__item a:before {
    content: " (LINK)";
    color: red;
} */

/* .main-nav__item a:after {
    content: " (LINK)";
    color: red;
} */

.main-nav__item a:hover,
a:active {
    color: white;
}
