body {
    font-family: sans-serif;
}

ol li + li{
    background-color: black;
    color: white;
}

.special code {
    color: green;
}

li { 
    font-family: inherit;
}

h1 {
    color: darkblue;
}

code {
    font-family: monospace;
    color: red;
}
